*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body, html {
  height: 100%;
}

body {
  text-align: center;
  box-sizing: border-box;
  background: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: medium;
  line-height: 150%;
}

h1, h2 {
  font-family: "shrikhand", sans-serif;
  font-weight: 900;
  line-height: normal;
}

h2 {
  font-weight: 700;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: medium;
}

.btn {
  color: #ffffff;
  background: #9356DC;
}

.header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  background-color: white;
}
.header__logo {
  width: 100%;
  height: 35px;
}
.header__button {
  width: 27px;
  height: 23px;
}

.footer {
  width: 100%;
  height: 198px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  justify-content: space-evenly;
  text-align: left;
  padding-left: 23PX;
}

.footer__logo {
  width: 100%;
  height: 24px;
  font-size: x-large;
font-weight: 1;
}

.nav {
  width: 100%;
  height: auto;
  text-align: left;
}
.nav__link {
  width: 191px;
  height: 22px;
  list-style-type: none;
}

.container {
  width: 100%;
  height: 1416px;
}

.container--large {
      height: 1495px;
}

.containerh {
  height: 2004px;
  width: 100%;
}

.position {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
}

.position-element {
  width: auto;
  height: 24px;
  display: inline-flex;
}

.position-element__fas {
  width: 13px;
  margin-right: 22px;
}

.position-element__city {
  width: auto;
  font-weight: 600;
  padding-right: 28px;
}

.accroche {
  width: 100%;
  height: 289px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f6f6f6;
  padding-top: 36px;
}
.accroche-element {
  width: 320px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.accroche-element__heading {
  width: 237px;
  height: 54px;
  /*! display: inline-flex; */
  /*! justify-content: center; */
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
}

.accroche-element__byline {
  width: 310px;
  height: 40px;
  font-weight: 1;
  margin-bottom: 18px;
}

.accroche-element__btn {
  width: 219px;
  height: 51px;
  border-radius: 30px;
  text-decoration-color: white;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.fonction {
  width: 100%;
  height: 440px;
  padding-top: 50px;
}
.fonction__heading {
  width: 180px;
  height: 24px;
  margin-bottom: 30px;
}
.fonction__step {
  width: 338px;
  height: 274px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.step-container {
  width: 324px;
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 32px;
  margin-bottom: 24px;
}
.step-container__circle {
  width: 25px;
}
.step-container__fa-mobile-alt {
  height: 20px;
}
.step-container__fa-list-ul {
  height: 20px;
}
.step-container__fa-store {
  height: 20px;
}
.step-container____line {
  width: 25px;
}

.restos {
  width: 100%;
  height: 1228px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-top: 54px;
  align-items: center;
}
.restos__heading {
  width: 132px;
  height: 20px;
  margin-bottom: 24px;
  font-size: x-large;
}
.restos__container {
  width: 338px;
  height: 1059px;
}

.resto-prev {
  width: 338px;
  height: 251px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px lightgrey;
  margin-bottom: 25px;
  margin-left: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resto-prev__image {
  width: 100%;
  height: 176px;
  border-radius: 15px 15px 0px 0px;
}
.resto-prev__image img {
  width: 100%;
  height: 176px;
  border-radius: 15px 15px 0px 0px;
}
.resto-prev__btn {
  width: 80px;
  height: 30px;
}
.resto-prev__txt {
  width: 305px;
  height: 46px;
  display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 18px;
        margin-left: 10px;
}
.resto-prev__txt h4 {
  width: 262px;
  height: 20px;
  font-weight: bold;
}
.resto-prev__txt p {
  width: 262px;
  height: 20px;
}
.resto-prev__txt fa-heart {
  width: 26px;
  height: 26px;
}

.container {
  width: 100%;
  height: 1418px;
}

.menu-prev {
  width: 100%;
  height: 1418px;
  display: flex;
  flex-direction: column;
}
.menu-prev__image {
  width: 100%;
  height: 216px;
}
.menu-prev__image img {
  width: 100%;
  height: 255px;
}

.container-menu {
  width: 100%;
  height: 1197px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  margin-top: 4px;
}
.container-menu--large {
  height: 1273px;
  margin-top: 4px;
}
.container-menu__heading {
  width: 346px;
  height: 37px;
  display: inline-flex;
  margin-top: 32px;
  font-size: large;
  font-weight: 100;
}
.container-menu__heading h2 {
  width: 296px;
  height: 37px;
  display: inline-flex;
  font-weight: lighter;
}
.container-menu__heading .fa-heart {
  width: 51px;
  font-size: x-large;
  display: flex;
  align-self: center;
}

.dishes-main {
  width: 351px;
  height: 281px;
  display: inline-flex;
  flex-direction: column;
  margin-top: 42px;
  justify-content: space-between;
}
.dishes-main--elong1 {
  height: 357px;
  margin-top: 30px;
}

.dishes-main--starters {
  margin-top: 30px;
}

.dishes-main--plats {
  margin-top: 39px;
}

.dishes-main__heading {
  width: 82px;
  height: 31px;
  justify-content: space-between;
  margin-bottom: 12px;
}
.dishes-main__heading h3 {
  width: 82px;
  height: 17px;
  display: flex;
  font-weight: lighter;
  font-size: 97%;
}
.dishes-main__heading .line {
  width: 41px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 1px;
}
.dishes-main__container {
  width: 351px;
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dishes-main__container--long1 {
  height: 317px
}

.dishes-main__btn {
  width: 219px;
  height: 51px;
  border-radius: 30px;
  text-decoration-color: white;
  margin-top: 50px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.dishes-element {
  width: 351px;
  height: 69px;
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px #E5E5E5;
}
.dishes-element__title {
  width: 334px;
  height: 22px;
  display: flex;
}
.dishes-element__line {
  width: 334px;
  height: 19px;
  display: inline-flex;
  justify-content: space-between;
}
.dishes-element__line .ingredient {
  width: 334px;
  height: 19px;
  text-align: left;
  font-weight: lighter;
  font-size: 15px;
}
.dishes-element__line .price {
  width: 40px;
  height: 19px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 15px;
}

.dishes-element__check {
  display: none;
  width: 59px;
  height: 70px;
  background-color: #99E2D0;
}

.dishes-element__check--selection {
   display: inline-flex; 
}

.dishes-element__check .fa-check-circle {
  font-size:22px;
}

// Zarb


.dishes-element__title--selection {
  width: 291px;;
}

.dishes-element__line--selection {
  width: 291px;;
}


/*# sourceMappingURL=style.css.map */
