//.btn {
//    @include btn
//}

.main-btn {
    width: 219px;
    height: 51px;
    border-radius: 30px;
    text-decoration-color: #fff;
    background: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
    box-shadow: 2px 4px 7px 0px #c9c9c9;
    border: transparent;
    &--short {
        width: 186px;
        margin-top: 50px;
    }
    &:hover {
        filter: brightness(120%);
        box-shadow: 2px 4px 7px 3px #897f7f;
    }
}
