.container {
    height: 2004px;
    width: 100%;
}


.position {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    &__fa-map-maker-alt {
       width: 13px;
    }
    &__city {
       width: 109px;
    }
}

.accroche {
    width: 100%;
    height: 289px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f6f6f6;
    &__heading {
       width: 237px;
       height: 54px;
       /*! display: inline-flex; */
        /*! justify-content: center; */
       margin-left: 62px;
       font-family: 'Roboto', sans-serif;
    }
    &__byline {
        width: 310px;
        height: 40px;
        margin-left: 20px;
    }
    &__btn {
        width: 219px;
        height: 51px;
        border-radius: 30px;
        text-decoration-color: white;
        margin-left: 80px;
    }
}

.fonction {
    width: 100%;
    height: 440px;
    padding-top: 50px;
    &__heading {
        width: 180px;
        height: 24px;
        margin-bottom: 30px;
    }
    &__step {
        width: 338px;
        height: 274px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
  
.step-container {
    width: 324px;
    height: 75px;
    background-color: #f6f6f6;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 32px;
    margin-bottom: 24px;
    &__circle {
        width: 25px;
    }
    &__fa-mobile-alt {
        height: 20px;
    }
    &__fa-list-ul {
        height: 20px;
    }
    &__fa-store {
        height: 20px;
    }
    &____line {
        width: 25px;
    }
}
  

.restos {
    width: 100%;
    height: 1228px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    &__heading {
    width: 132px;
    height: 20px;
    margin-bottom: 24px;
    }
    &__container {
    width: 338px;
    height: 1059px;
    margin-left: 20px;
    }
}

.resto-prev {
    width: 338px;
    height: 251px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px lightgrey;
    margin-bottom: 25px;
    margin-left: 0px;
    background-color:white;
    &__image {
        width: 100%;
        height: 176px;
        border-radius: 15px 15px 0px 0px;
        & img {
           width: 100%;
           height: 176px;
           border-radius: 15px 15px 0px 0px;
        }
    }
    &__btn {
        width: 80px;
        height: 30px;
    }
    &__txt {
        width: 305px;
        height: 46px;
        & h4 {
            width: 262px;
            height: 20px;
            font-weight: bold;
        }
        & p {
            width: 262px;
            height: 20px;
        }
        & fa-heart {
            width: 26px;
            height: 26px;
        }
    }
}
