.containerh {
    height: 2004px;
    width: 100%;
}


.position {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.position-element {
    width: auto;
    height: 24px;
    display: inline-flex;
    &__fas {
       width: 13px;
       margin-right: 22px;
    }
    &__city {
        width: auto;
        font-weight: 600;
        padding-right: 28px;
    }
}

.accroche {
   width: 100%;
   height: 289px;
   display: flex;
   justify-content: space-evenly;
   background-color: #f6f6f6;
   padding-top: 36px;
}

.accroche-element {
    width: 320px;
    height: 200px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__heading {
       width: 237px;
       height: 54px;
       font-family: "Roboto", sans-serif;
       font-weight: 1000;
    }
    &__byline {
      width: 310px;
      height: 40px;
      font-weight: 1;
      margin-bottom: 18px;
    }
    &__btn {
      width: 219px;
      height: 51px;
      border-radius: 30px;
      text-decoration-color: white;
    }
}
  
  

.fonction {
    width: 100%;
    height: 440px;
    padding-top: 50px;
    &__heading {
        width: 180px;
        height: 24px;
        margin-bottom: 30px;
    }
    &__step {
        width: 338px;
        height: 274px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
  
.step-container {
    width: 324px;
    height: 75px;
    background-color: #f6f6f6;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 32px;
    margin-bottom: 24px;
    &__circle {
        width: 25px;
    }
    &__fa-mobile-alt {
        height: 20px;
    }
    &__fa-list-ul {
        height: 20px;
    }
    &__fa-store {
        height: 20px;
    }
    &____line {
        width: 25px;
    }
}
  

.restos {
    width: 100%;
    height: 1228px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    align-items: center;
    &__heading {
       width: 132px;
       height: 20px;
       margin-bottom: 24px;
       font-size: x-large;
    }
    &__container {
       width: 338px;
       height: 1059px;
    }
}

.resto-prev {
    width: 338px;
    height: 251px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px lightgrey;
    margin-bottom: 25px;
    margin-left: 0px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__image {
        width: 100%;
        height: 176px;
        border-radius: 15px 15px 0px 0px;
        & img {
           width: 100%;
           height: 176px;
           border-radius: 15px 15px 0px 0px;
        }
    }
    &__btn {
        width: 80px;
        height: 30px;
    }
    &__txt {
        width: 305px;
        height: 46px;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 18px;
        margin-left: 10px;
        & h4 {
            width: 262px;
            height: 20px;
            font-weight: bold;
        }
        & p {
            width: 262px;
            height: 20px;
        }
        & fa-heart {
            width: 26px;
            height: 26px;
        }
    }
}
