.container {
    width: 100%;
    height: 1416px;
    animation: fadein2 2s 2.4s backwards;
    &--large {
        height: 1495px;
    }
  }
  
.menu-prev {
    width: 100%;
    height: 1418px;
    display: flex;
    flex-direction: column;
    &__image {
        width: 100%;
        height: 216px;
        & img {
            width: 100%;
            height: 255px;
        }
    }
    &--large {
        height: 1495px;
    }
}
  
.container-menu {
    width:100%;
    height: 1197px;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    margin-top: 4px;
    z-index: 1;
    &__heading {
        width: 346px;
        height: 37px;
        display:inline-flex;
        margin-top: 32px;
        font-size: large;
        font-weight: 100;
        position: relative;
        & h2 {
            width: 296px;
            height: 37px;
            display: inline-flex;
            font-weight: lighter;
            padding-left: 5px;
        }
        & .heart {
            position: relative;
            & .fa-heart {
              position: absolute;
              right: 0;
              bottom: 0;
              color: #2b2b2b;
              font-size: 25px;
              transition: 0.3s 0s ease-in-out;
              &:hover {
                opacity: 0;
              }
            }
            & .hover-icon {
              position: absolute;
              right: 0;
              opacity: 0;
              bottom: 0px;
              font-size: 25px;
              &:hover {
                background: linear-gradient(#9356dc, #ff79da);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                opacity: 1;
                z-index: 9;
              }
            }
        }
        & .heart-menu {
            bottom: 10px;
            left: 20px;
            background: #d9d9d9;
        }
    }
    &--large {
        height: 1273px;
    }
}


.dishes-main {
    width: 351px;
    height: 281px;
    display: inline-flex;
    flex-direction: column;
    margin-top: 42px;
    justify-content: space-between;
    &__heading {
        width: 82px;
        height: 31px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 12px;
        & h3 {
            width: 82px;
            height: 17px;
            display: flex;
            font-weight: lighter;
            font-size: 97%;
        }
        & .line {
            width: 41px;
            height: 3px;
            background-color: #99E2D0;
            margin-bottom: 1px;
        }
    }
    &--starters {
        margin-top: 30px;
    }
    &--plats {
        margin-top: 39px;
    }
    &--elong1 {
            height: 357px;
            margin-top: 30px;
    }
    &__container {
        width: 351px;
        height: 236px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--long1 {
            height: 317px;
        }
    }
    &__btn {
        width: 219px;
        height: 51px;
        border-radius: 30px;
        text-decoration-color: white;
        margin-top: 50px;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    }
}


.dishes-element {
    width: 351px;
    height: 69px;
    background: white;
    display:flex;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: 0px 10px 30px #E5E5E5;
    &:hover .dishes-element-price {
        transform: translateX(-60px);
        transition: 0.5s ease-out;
    }
    &:hover .dishes-element-checkbox {
        animation: checkbox 0.5s ease-out forwards;
        animation-fill-mode: both;
        transform: scale(0);
        transform-origin: right;
        overflow: visible;
    }
    &:hover .btn-circle {
        animation: check ease-out;
        transform: rotate(0deg);
        transition: transform 0.6s;
    }
    &.dishes-element-price {
        display: inline-block;
        position: relative;
        right: 50px;
        top: 35px;
        font-weight: bold;
        background: #fff;
        width: 20%;
        height: 30px;
        cursor: pointer;
        & span {
            margin: 0 10px; 
        }
    }
    &.dishes-element-checkbox {
        position: relative;
        background-color: #99e2d0;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        z-index: auto;
        width: 60px;
        right: 80px;
    }
    &.btn-circle{
        transform: rotate (-180deg);
    }
}

.dishes-element-txt {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 75px;
    background: #fff;
    cursor: pointer;
    @include ellipsis();
    & h4 {
        width: 65%;
        @include ellipsis();
    }
    & p {
        font-size: 0.95rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 60%;
    }
}

i.fas.fa-check-circle {
    position: relative;
    top: 25px;
    color: #fff;
    padding: 0px 20px;
    opacity: 1;
}

  .aside__button:hover {
    background: #fff;
    box-shadow: 2px 2px 10px 2px #d6d5d6;
}

/*
    &__title {
        height: 22px;
        display: flex;
        @include ellipsis();
    }
    &__line {
        width: 100%;
        height: 19px;
        display: inline-flex;
        justify-content: space-between; 
        @include ellipsis();
        &:hover {
            @include ellipsis();
            width: 70%;
        }
        & .ingredient {
            width: 334px;
            height: 19px;
            text-align: left;
            font-weight: lighter;
            font-size: 15px;
            display: inline-flex;
            align-items: center;
            @include ellipsis();
        }
        & .price {
            height: 19px;
            font-weight: 600;  
            font-size: 15px;
            display: inline-flex;
            align-items: center;
            &:hover {
                transform: translateX(-60px);
                transition: .5s ease-out;
            }
        }
    }
}
*/


.dishes-element-checkbox {
   position: relative;
   background-color: #99e2d0;
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   overflow: hidden;
   cursor: pointer;
   z-index: auto;
   width: 60px;
   right: 80px;
}

.btn-circle {
    transform: rotate (-180deg);
}


/* hover display flex */


i.fas.fa-check-circle {
    position: relative;
    top: 25px;
    color: #fff;
    padding: 0px 20px;
    opacity: 1;
  }

/* .dishes-element-check {
    display: none;
    width: 59px;
    height: 70px;
    background-color: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    &.fa-check-circle {
        font-size:22px;
        color: white;
        align-content: center;
        display: inline-flex;
        align-self: center;
        padding: 17px;
    }
    &--selection  {
        display: inline-flex;
    }
} */

.aside-button {
    flex: 1 0 auto;
    margin-bottom: 20px;
    text-decoration: none;
    border-radius: 15px;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 5px 15px 0 #afafafb0;
    transition: 0.2s;
    height: 69px;
    padding: 10px;
    &:hover {
        background: #fff;
        box-shadow: 2px 2px 10px 2px #d6d5d6;
    }
}
 
.dishes-element-price {
  display: inline-block;
  position: relative;
  right: 50px;
  top: 35px;
  font-weight: bold;
  background: #fff;
  width: 20%;
  height: 30px;
  cursor: pointer;
}