$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #ffffff;
$colour-logo: #101010;
$colour-invalid: #DB464B;
$colour-position: #EAEAEA;
$colour-background: #F6F6F6;
$colour-footer: #353535;
$colour-shadow: #E5E5E5

$box-shadow: 0px 10px 30px #E5E5E5; 

// A voir $layout-margin: 6rem;
// A voir $grid-gutter: $layout-margin * .25;

//Shadows